html,
body,
pre,
code,
kbd,
samp {
    font-family: 'Press Start 2P', cursive;
    line-height: 160%;
}

/* https://builtvisible.com/image-scaling-in-css */
img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}